<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="card_chart">
        <div class="chart-section-header">
          <div class="chart_balance">
            <h6>My balance</h6>
            <h4>$921.48</h4>
          </div>
          <div class="chart_logo">
            <img src="../../assets/img/logo.svg" alt="" />
          </div>
        </div>
        <div class="chart_content">
          <div class="mychart">
            <canvas id="ctx"></canvas>
          </div>
          <hr />
          <div class="chart_inner_content">
            <div class="total_balance_month">
              <h6>Total this month</h6>
              <h4>$478.33</h4>
            </div>
            <div class="total_amount_last">
              <h6>+2.4%</h6>
              <h5>from last month</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
